Source: socksproxy
Maintainer: Philipp Heckel <philipp.heckel@gmail.com>
Section: misc
Priority: optional
Standards-Version: 3.9.5
Build-Depends: debhelper (>=7)

Package: socksproxy
Architecture: all
Depends: iptables, openssh-server, openssh-client, dpkg (>= 1.15), ${misc:Depends}
Description: Simple SOCKS proxy
 Creates a simple SOCKS proxy on the local machine. 
